<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 驱动名称 -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- url -->
        <property name="connection.url">jdbc:mysql://localhost:3306/learning?serverTimezone=UTC</property>
        <!-- 用户名 -->
        <property name="connection.username">root</property>
        <!-- 密码 -->
        <property name="connection.password">200617</property>
        <!-- 方言:dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 打印生成的sql语句 -->
        <property name="show_sql">true</property>
        <!-- 格式化输出sql语句 -->
        <property name="format_sql">true</property>
        <!--自动生成数据库表-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--为Session指定一个自定义策略-->
        <property name="current_session_context_class">thread</property>
<!--        &lt;!&ndash;C3P0 JDBC连接池&ndash;&gt;-->
<!--        <property name="c3p0.max_size">20</property>-->
<!--        <property name="c3p0.min_size">5</property>-->
<!--        <property name="c3p0.timeout">120</property>-->
<!--        <property name="c3p0.max_statements">100</property>-->
<!--        <property name="c3p0.idle_test_period">120</property>-->
<!--        <property name="c3p0.acquire_increment">2</property>-->
<!--        <property name="hibernate.c3p0.validate">true</property>-->
        <!--映射-->
        <mapping class="bean.Course"/>
        <mapping class="bean.User"/>
        <mapping class="bean.Resource"/>
    </session-factory>


</hibernate-configuration>